body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	position: relative;
}
canvas, #game {
	cursor: cell;
}

#game {
	width: 800px;
	height: 480px;

	position: fixed;
	left: 50%;
	margin-left: -410px;
	top: 50%;
	margin-top: -250px;
	border: solid 10px #272727;
	border-radius: 10px;
}
#game div {
	font-size: 2em;
	color: white;
	font-family: monospace;
	text-align: center;
	display: block;
	padding-top: 200px;
}
#game span {
	font-size: 0.5em;
	display: block;
}